In [2]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy as db

In [3]:
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/retail_db")

In [4]:
customers_df = pd.read_sql_table("customers", engine)
orders_df = pd.read_sql_table("orders", engine)
order_items_df = pd.read_sql_table("order_items", engine)
products_df = pd.read_sql_table("products", engine)
categories_df = pd.read_sql_table("categories", engine)
departments_df = pd.read_sql_table("departments", engine)

In [8]:
customers_df.count()

customer_id          12435
customer_fname       12435
customer_lname       12435
customer_email       12435
customer_password    12435
customer_street      12435
customer_city        12435
customer_state       12435
customer_zipcode     12435
dtype: int64

In [11]:
total_clientes = customers_df["customer_id"].nunique()
print (f"El total de clientes es {total_clientes}")

El total de clientes es 12435

In [12]:
clientes_x_estado = customers_df['customer_state'].value_counts()
clientes_x_estado

customer_state
PR    4771
CA    2012
NY     775
TX     635
IL     523
FL     374
OH     276
PA     261
MI     254
NJ     219
AZ     213
GA     169
MD     164
NC     150
VA     136
CO     122
OR     119
MA     113
TN     104
NV     103
MO      92
HI      87
NM      73
CT      73
WA      72
UT      69
WI      64
LA      63
DC      42
SC      41
IN      40
MN      39
KY      35
KS      29
DE      23
OK      19
WV      16
RI      15
ND      14
AR      12
ID       9
MT       7
IA       5
AL       3
Name: count, dtype: int64

In [13]:
clientes_x_estado = customers_df['customer_city'].value_counts()
clientes_x_estado

customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Allentown           3
National City       2
Ponce               2
Freehold            2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [16]:
categorias_x_departamento = categories_df.groupby("category_department_id")['category_id'].count()
print(f"Categorias por departamentos: \n {categorias_x_departamento}")

Categorias por departamentos:
 category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

In [17]:
distribucion_categorias_x_departamento = categories_df.merge(departments_df,left_on='category_department_id', right_on='department_id')
distribucion_categorias_x_departamento = distribucion_categorias_x_departamento['department_name'].value_counts()
distribucion_categorias_x_departamento

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

In [18]:
precio_promedio = products_df['product_price'].mean()
print (f"El precio promedio es: {precio_promedio:.2f}")

El precio promedio es: 125.00

In [19]:
products_df['product_price'].describe()

count    1345.000000
mean      124.996335
std       163.349266
min         0.000000
25%        31.970000
50%        89.990000
75%       139.990000
max      1999.990000
Name: product_price, dtype: float64

In [21]:
products_df['product_image'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1345 entries, 0 to 1344
Series name: product_image
Non-Null Count  Dtype
--------------  -----
1345 non-null   object
dtypes: object(1)
memory usage: 10.6+ KB

In [23]:
nulos_imagenes = products_df['product_image'].isnull().sum()
no_nulos_imagenes= products_df['product_image'].notnull().sum()
nulos_imagenes
no_nulos_imagenes

1345

In [24]:
# total de ordenes por estado
merge_orders_customers = orders_df.merge(customers_df, left_on='order_customer_id', right_on='customer_id')
total_ordenes_x_estado = merge_orders_customers.groupby('customer_state')['order_id'].count()
total_ordenes_x_estado

customer_state
AL       13
AR       65
AZ     1156
CA    11051
CO      721
CT      403
DC      229
DE      109
FL     2089
GA      946
HI      478
IA       24
ID       67
IL     2884
IN      247
KS      159
KY      190
LA      369
MA      606
MD      905
MI     1428
MN      256
MO      516
MT       32
NC      803
ND       72
NJ     1259
NM      391
NV      540
NY     4331
OH     1575
OK       84
OR      646
PA     1458
PR    26510
RI       84
SC      238
TN      607
TX     3442
UT      357
VA      738
WA      380
WI      334
WV       91
Name: order_id, dtype: int64

In [25]:
# total de ordenes por ciudad
merge_orders_customers = orders_df.merge(customers_df, left_on='order_customer_id', right_on='customer_id')
total_ordenes_x_estado = merge_orders_customers.groupby('customer_city')['order_id'].count()
total_ordenes_x_estado

customer_city
Aguadilla       25
Alameda         48
Albany          38
Albuquerque    219
Algonquin       47
              ...
Yonkers         46
York            90
Ypsilanti       57
Yuma            37
Zanesville      41
Name: order_id, Length: 562, dtype: int64

In [27]:
# cual es el producto mas vendido
producto_mas_vendido = order_items_df.groupby("order_item_product_id")['order_item_quantity'].sum().idxmax()
producto_mas_vendido

365

In [31]:
# cual es el producto mas vendido
producto_mas_vendido = order_items_df.groupby("order_item_product_id")['order_item_quantity'].sum().idxmin() #idxmax()
producto_mas_vendido = products_df.query(f"product_id == {producto_mas_vendido}")["product_name"].values[0]
producto_mas_vendido

'SOLE E25 Elliptical'

In [32]:
# productos mas caros y baratos
producto_caro = products_df.loc[products_df['product_price'].idxmax()]
producto_barato = products_df.loc[products_df['product_price'].idxmin()]
print(f"Producto mas caro: {producto_caro}")
print(f"Producto mas barato: {producto_barato}")

Producto mas caro: product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object
Producto mas barato: product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [ ]:
# los productos mas comprados por cliente
# el total gastado por cada cliente -- El cliente que mas ha gastado
# categoria que tuvo mejor rendimiento en terminos de ventas
# promedio de ingresos por dia
# promedio de ingreso por mes

In [8]:
productos_x_clientes = order_items_df.merge(orders_df, left_on='order_item_order_id', right_on='order_id')
productos_x_clientes = productos_x_clientes.groupby(['order_customer_id','order_item_product_id'])['order_item_quantity'].sum()
productos_x_clientes

order_customer_id  order_item_product_id
1                  191                      5
2                  365                      2
                   502                      1
                   627                      5
                   957                      1
                                           ..
12435              191                      5
                   365                      4
                   403                      1
                   627                      4
                   957                      1
Name: order_item_quantity, Length: 92875, dtype: int64

In [9]:
productos_x_clientes = order_items_df.merge(orders_df, left_on='order_item_order_id', right_on='order_id')
productos_x_clientes = productos_x_clientes.groupby(['order_customer_id','order_item_product_id'])['order_item_quantity'].sum().reset_index()
productos_x_clientes

       order_customer_id  order_item_product_id  order_item_quantity
0                      1                    191                    5
1                      2                    365                    2
2                      2                    502                    1
3                      2                    627                    5
4                      2                    957                    1
...                  ...                    ...                  ...
92870              12435                    191                    5
92871              12435                    365                    4
92872              12435                    403                    1
92873              12435                    627                    4
92874              12435                    957                    1

[92875 rows x 3 columns]

In [11]:
productos_x_clientes = order_items_df.merge(orders_df, left_on='order_item_order_id', right_on='order_id')
productos_x_clientes = productos_x_clientes.groupby(['order_customer_id','order_item_product_id'])['order_item_quantity'].sum().reset_index()
productos_x_clientes = productos_x_clientes.merge(customers_df, left_on='order_customer_id', right_on='customer_id').merge(products_df, left_on='order_item_product_id', right_on='product_id')
productos_x_clientes

,order_customer_id,order_item_product_id,order_item_quantity,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,191,5,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521,191,9,Nike Men's Free 5.0+ Running Shoe,,99.99,http://images.acmesports.sports/Nike+Men%27s+F...
1,2,365,2,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,365,17,Perfect Fitness Perfect Rip Deck,,59.99,http://images.acmesports.sports/Perfect+Fitnes...
2,2,502,1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,502,24,Nike Men's Dri-FIT Victory Golf Polo,,50.00,http://images.acmesports.sports/Nike+Men%27s+D...
3,2,627,5,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,627,29,Under Armour Girls' Toddler Spine Surge Runni,,39.99,http://images.acmesports.sports/Under+Armour+G...
4,2,957,1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,957,43,Diamondback Women's Serene Classic Comfort Bi,,299.98,http://images.acmesports.sports/Diamondback+Wo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92870,12435,191,5,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,191,9,Nike Men's Free 5.0+ Running Shoe,,99.99,http://images.acmesports.sports/Nike+Men%27s+F...
92871,12435,365,4,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,365,17,Perfect Fitness Perfect Rip Deck,,59.99,http://images.acmesports.sports/Perfect+Fitnes...
92872,12435,403,1,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,403,18,Nike Men's CJ Elite 2 TD Football Cleat,,129.99,http://images.acmesports.sports/Nike+Men%27s+C...
92873,12435,627,4,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,627,29,Under Armour Girls' Toddler Spine Surge Runni,,39.99,http://images.acmesports.sports/Under+Armour+G...
92874,12435,957,1,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483,957,43,Diamondback Women's Serene Classic Comfort Bi,,299.98,http://images.acmesports.sports/Diamondback+Wo...

In [14]:
productos_x_clientes = order_items_df.merge(orders_df, left_on='order_item_order_id', right_on='order_id')
productos_x_clientes = productos_x_clientes.groupby(['order_customer_id','order_item_product_id'])['order_item_quantity'].sum().reset_index()
productos_x_clientes = productos_x_clientes.merge(customers_df, left_on='order_customer_id', right_on='customer_id').merge(products_df, left_on='order_item_product_id', right_on='product_id')
producto_mas_comprados_x_cliente = productos_x_clientes.loc[productos_x_clientes.groupby('order_customer_id')['order_item_quantity'].idxmax()]

In [15]:
productos_x_clientes.groupby('order_customer_id')['order_item_quantity'].idxmax()

order_customer_id
1            0
2            6
3           10
4           17
5           27
         ...
12431    92839
12432    92855
12433    92859
12434    92866
12435    92870
Name: order_item_quantity, Length: 12331, dtype: int64

In [16]:
productos_x_clientes.groupby('order_customer_id')['order_item_quantity'].count()

order_customer_id
1         1
2         7
3         9
4         6
5         5
         ..
12431    12
12432    10
12433     6
12434     7
12435     5
Name: order_item_quantity, Length: 12331, dtype: int64

In [7]:
# promeido de ingreso  por dia
merge_df = orders_df.merge(order_items_df, left_on='order_id', right_on='order_item_order_id', how='left')
promedio_df = merge_df[['order_id','order_date','order_item_subtotal']].drop_duplicates().groupby('order_date').sum()['order_item_subtotal'] #/ merge_df[['order_id','order_date','order_item_subtotal']].drop_duplicates()
promedio_df

order_date
2013-07-25     63604.31
2013-07-26    127600.87
2013-07-27     92925.05
2013-07-28     82143.48
2013-07-29    127557.90
                ...
2014-07-20    130625.78
2014-07-21    112063.43
2014-07-22     67034.88
2014-07-23     83060.84
2014-07-24     90856.78
Name: order_item_subtotal, Length: 364, dtype: float64

In [8]:
merge_df = orders_df.merge(order_items_df, left_on='order_id', right_on='order_item_order_id', how='left')
promedio_df = merge_df[['order_id','order_date','order_item_subtotal']].drop_duplicates().groupby('order_date').sum()['order_item_subtotal'] / merge_df[['order_date','order_item_order_id']].drop_duplicates().groupby('order_date').count()['order_item_order_id']
promedio_df

order_date
2013-07-25    548.313017
2013-07-26    547.643219
2013-07-27    531.000286
2013-07-28    519.895443
2013-07-29    590.545833
                 ...
2014-07-20    539.775950
2014-07-21    554.769455
2014-07-22    572.947692
2014-07-23    601.890145
2014-07-24    550.647152
Length: 364, dtype: float64