In [3]:
var1 = 6

if var1 == '6' :
    print("Es verdadero")
    print("Ingreso")
else :
    print("Es falso")

Es falso

In [4]:
# Esto es un comentario
# El metodo realiza tal accion
print("Hola mundo")

Hola mundo

In [5]:
# variables
a = 5 # int
b = "DATAPATH" #String
print(a)
print (b)

5
DATAPATH

In [6]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [7]:
c=2.0
print(type(c))

<class 'float'>

In [8]:
x, y, z="Manzana","Platano","Pera"
print(z)

Pera

In [9]:
# Tipos de datos
# String
var1="Manzana"
var='Manzana'

In [13]:
print(var1)
print(var1[0])
print(var1[3])

Manzana
M
z

In [14]:
# Numericos
int_num=10
float_num=10.5
complex_num=3.14j

In [15]:
print(type(complex_num))

<class 'complex'>

In [17]:
#listas
list_1=[]

lista_2=[1,2,3,4,5] # lista de entero

lista_3=['Manzana','Platano'] # lista de string

lista_4 = [1,2,"Manzana", 1.4j]

print(list_1)
print(lista_2)
print(lista_3)
print(lista_4)

[]
[1, 2, 3, 4, 5]
['Manzana', 'Platano']
[1, 2, 'Manzana', 1.4j]

In [18]:
list_5 = ["Mnazana",[1,2,3],['a','b']]#lista anidada
print (list_5)

['Mnazana', [1, 2, 3], ['a', 'b']]

In [21]:
list_6 = ['x','y','z',['a','b',1,2]]
print(list_6[3][0])

a

In [22]:
print (list_6 [1:3])

['y', 'z']

In [23]:
print(list_6[2:])

['z', ['a', 'b', 1, 2]]

In [24]:
list_6[0] = 'w'
print(list_6)

['w', 'y', 'z', ['a', 'b', 1, 2]]

In [25]:
list_6[0:3] = [1,2,3]
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2]]

In [26]:
# append
list_6.append('m')
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2], 'm']

In [27]:
list_6.extend(['b','n'])
print(list_6)

[1, 2, 3, ['a', 'b', 1, 2], 'm', 'b', 'n']

In [28]:
for element in list_6:
    print(element)

1
2
3
['a', 'b', 1, 2]
m
b
n

In [29]:
#Tuplas
tupla_1 = ()

In [31]:
tupla_2 = (1,2,3)
print (tupla_2)

(1, 2, 3)

In [32]:
tupla_3 = (1,2,"manzana",5.4)
print(tupla_3)

(1, 2, 'manzana', 5.4)

In [33]:
tupla_4 = ((1,2,3),[2,3,4],1,5)
print(tupla_4)

((1, 2, 3), [2, 3, 4], 1, 5)

In [34]:
print(type(tupla_4))

<class 'tuple'>

In [35]:
tupla_5 = ("manzana")
print(type(tupla_5))

<class 'str'>

In [37]:
tupla_5 = "manzana","platano"
print(type(tupla_5))

<class 'tuple'>

In [38]:
print(tupla_4[1][0])

2

In [39]:
print(tupla_4[1:2])

([2, 3, 4],)

In [40]:
for nombre in ("juan","pedro"):
    print(nombre)

juan
pedro

In [42]:
# Diccionario
# {
#   "nombre":"Juan",
#    "apellido":"Perez"
# }

dict_1 = {}

dict_2 = {1:'Manzana', 2:'Pera'}
dict_3 = {"nombre":"Juan","apellido":"Perez"}
dict_4 = {1: [12,14,18,19],"nombre":"Juan"}

print(dict_4)

{1: [12, 14, 18, 19], 'nombre': 'Juan'}

In [43]:
print(dict_3['nombre'])

Juan

In [44]:
print(dict_4[1])
print(dict_4["nombre"])

[12, 14, 18, 19]
Juan

In [45]:
dict_5 = {"nombre":"juan","edad":25}
print(dict_5["nombre"])
print(dict_5.get("nombre"))

juan
juan

In [46]:
print(dict_5.get("direccion"))

None

In [47]:
dict_5['edad'] = 28
print(dict_5)

{'nombre': 'juan', 'edad': 28}

In [49]:
dict_5["direccion"] = "Lima"
print(dict_5)

{'nombre': 'juan', 'edad': 28, 'direccion': 'Lima'}

In [53]:
for element in dict_5:
    print(dict_5[element])

for key in dict_5:
    print(key, '->',dict_5[key])

juan
28
Lima
nombre -> juan
edad -> 28
direccion -> Lima

In [58]:
# Control de flujo
# if 

num = -5
if num > 0:
    print(num, " es mayo que cero")
    print ("y es un numero positivo")
else:
    print(num, " es negativo")
print("Se ejecuta siempre")

-5  es negativo
Se ejecuta siempre

In [59]:
num = float(input("Ingresa un numero"))

if num >= 0:
    if num == 0:
        print("El numero es cero")
    else:
        print("El nuermo es positivo")
else:
    print("El numero es negativo")

El nuermo es positivo

In [61]:
numeros = [1,2,3,4,5]
suma = 0


for num in numeros:
    suma = suma + num
    print("Total: ",suma)

Total:  1
Total:  3
Total:  6
Total:  10
Total:  15

In [62]:
n = 10
suma = 0
i = 1

while i <= n:
    suma = suma + i
    i = i + 1

print("La suma es: ",suma)

La suma es:  55

In [63]:
for val in "Manzana":
    if val == 'a':
        break
    print(val)

M

In [64]:
def get_user():
    pass

In [ ]:
for val in "Manzana":
    if val == 'a':
        pass
    print(val)

In [65]:
try:
    print("Try")
    b = 5/0
except Exception as e:
    print ("Error")
    print(e)

Try
Error
division by zero

In [69]:
# Operadores

a = 5
b = 3

x = a; x += b; print (x)
x = a; x *= b; print (x)
x = a; x /= b; print (x)
x = a; x //= b; print (x)
x = a; x %= b; print (x)
x = a; x **= b; print (x)

8
15
1.6666666666666667
1
2
125

In [73]:
# raelizar un script en el cual solo sume los impares
# Realizar un script en e cual cuentess la frecuencia de elementos en una lista
num = 0

while num<100:
    num += 1
    if num%2:
        print("Numero impar: ", num)

Numero impar:  1
Numero impar:  3
Numero impar:  5
Numero impar:  7
Numero impar:  9
Numero impar:  11
Numero impar:  13
Numero impar:  15
Numero impar:  17
Numero impar:  19
Numero impar:  21
Numero impar:  23
Numero impar:  25
Numero impar:  27
Numero impar:  29
Numero impar:  31
Numero impar:  33
Numero impar:  35
Numero impar:  37
Numero impar:  39
Numero impar:  41
Numero impar:  43
Numero impar:  45
Numero impar:  47
Numero impar:  49
Numero impar:  51
Numero impar:  53
Numero impar:  55
Numero impar:  57
Numero impar:  59
Numero impar:  61
Numero impar:  63
Numero impar:  65
Numero impar:  67
Numero impar:  69
Numero impar:  71
Numero impar:  73
Numero impar:  75
Numero impar:  77
Numero impar:  79
Numero impar:  81
Numero impar:  83
Numero impar:  85
Numero impar:  87
Numero impar:  89
Numero impar:  91
Numero impar:  93
Numero impar:  95
Numero impar:  97
Numero impar:  99

In [75]:
lista = [1,1,1,2,2,3,3,4,5]

rep = {}

for n in lista:
      if n in rep :
        rep[n] += 1
      else:
         rep[n] = 0

print(rep)

print(len(rep))

{1: 2, 2: 1, 3: 1, 4: 0, 5: 0}
5

In [76]:
list_num = list(range(1,100))
suma=0
for num in list_num:
    if num%2 == 1:
        suma += num
print(suma)

2500

In [78]:
# Funciones
def mi_funcion(x):
    return 2*x

mi_funcion(410)

820

In [80]:
def greeting():
    return "Hello"
greeting()

'Hello'

In [ ]:
def read_table(tabla):
    query = f"SELECT * FROM {tabla}"
    
    return execute_query(query)

In [81]:
saludos = lambda: "Hola"
print(saludos())

Hola

In [82]:
suma = lambda a,b:a+b
print(suma(10,5))

15

In [84]:
list_num = [1,2,3]
resultado = list(map(lambda x: x*2, list_num))
resultado

[2, 4, 6]